.shariff {
    .bluesky {
        a {
            background-color: #006aff;
            &:hover {
                background-color: #08f;
            }
        }
        .fa-bluesky {
            font-size: 22px;
        }
    }
    .theme-white {
        .bluesky a {
            color: #000;
        }
    }
}

@media only screen and (min-width: 600px) {
    .shariff {
        .bluesky .fa-bluesky {
            font-size: 19px;
        }
    }
}
