.shariff {
    .facebook {
        a {
            background-color: @col-fb;
            &:hover {
                background-color: @col-fb-h;
            }
			div {
				border: 1px solid @col-fb;
				&:hover {
					border-color: @col-fb-h;
				}
			}
        }
        .fa-facebook {
            font-size: 19px;
			&:before { content: @fa-var-facebook; }
        }
        .share_count {
            color: @col-fb-cs;
            background-color: @col-fb-bgs;
        }
    }
    .theme-white {
        .facebook a {
            color: @col-fb;
        }
    }
	.theme-grey {
		.facebooklike a:hover {
			background-color: @col-fb;
		}
	}
}