.shariff {
    .googleplus {
        a {
            background-color: #d34836;
            &:hover {
                background-color: #f75b44;
            }
        }
        .fa-google-plus {
            font-size: 17px;
            top: 2px;
        }
        .share_count {
            color: #a31601;
            background-color: #eda79d;
        }
    }
    .theme-white {
        .googleplus a {
            color: #d34836;
        }
    }
}
