.shariff {
    .info {
        width: 23px;
        height: 28px;
        border: 1px solid #ccc;
        a {
            padding: 0;
            color: #666;
            background-color: #fff;
            &:hover {
                background-color: #efefef;
            }
        }
        .fa-info {
            font-size: 16px;
            left: 9px;
        }
        .share_text {
            display: block;
            text-indent: -9999px;
        }
    }
    .theme-grey {
        .info a {
            background-color: #fff;
            &:hover {
                background-color: #efefef;
            }
        }
    }
    .theme-white {
        .info {
            height: 30px;
        }
    }
    .orientation-vertical {
        .info {
            margin-left: 95px;
        }
    }
}
