.shariff {
    .linkedin {
        a {
            background-color: @col-li;
            &:hover {
                background-color: @col-li-h;
            }
			div {
				border: 1px solid @col-li;
				&:hover {
					border-color: @col-li-h;
				}
			}
        }
        .fa-linkedin {
            font-size: 19px;
			&:before { content: @fa-var-linkedin; }
        }
        .share_count {
            color: @col-li-cs;
            background-color: @col-li-bgs;
        }
    }
    .theme-white {
        .linkedin a {
            color: @col-li;
        }
    }
	.theme-grey {
		.facebooklike a:hover {
			background-color: @col-li;
		}
	}
}