.shariff {
    .mail {
        a {
            background-color: #999;
            &:hover {
                background-color: #a8a8a8;
            }
        }
        .fa-envelope {
            font-size: 18px;
        }
    }
    .theme-white {
        .mail a {
            color: #999;
        }
    }
}
