.shariff {
    .mix {
        a {
            background-color: #ff8226;
            &:hover {
                background-color: #ffa15c;
            }
        }
        .fa-mix {
            font-size: 22px;
        }
    }
    .theme-white {
        .mix a {
            color: #ff8226;
        }
    }
}

@media only screen and (min-width: 600px) {
    .shariff {
        .mix .fa-mix {
            font-size: 19px;
        }
    }
}
