.shariff {
    .pinterest {
        a {
            background-color: @col-pi;
            &:hover {
                background-color: @col-pi-h;
            }
 			div {
				border: 1px solid @col-pi;
				&:hover {
					border-color: @col-pi-h;
				}
			}
       }
        .fa-pinterest-p {
            font-size: 19px;
            position: relative;
            top: 1px;
			&:before { content: @fa-var-pinterest-p; }
        }
        .share_count {
            color: @col-pi-cs;
            background-color: @col-pi-bgs;
        }
    }
    .theme-white {
        .pinterest a {
            color: @col-pi;
        }
    }
	.theme-grey {
		.facebooklike a:hover {
			background-color: @col-pi;
		}
	}
}