// Twitter
@col-tw: #55acee;
@col-tw-h: lighten(@col-tw, @lighten);
@col-tw-cs: darken(@col-tw, @darken);
@col-tw-bgs: lighten(@col-tw, 30%);

.shariff {
    .twitter {
        a {
            background-color: @col-tw;
            &:hover {
                background-color: @col-tw-h;
            }
			div {
				border: 1px solid @col-tw;
				&:hover {
					border-color: @col-tw-h;
				}
			}
        }
        .fa-twitter {
            font-size: 24px;
			&:before { content: @fa-var-twitter; }
        }
        .share_count {
            color: @col-tw-cs;
            background-color: @col-tw-bgs;
        }
    }
    .theme-white {
        .twitter a span {
            color: @col-tw;
        }
    }
	.theme-grey {
		.twitter a:hover {
			background-color: @col-tw;
			div {
				border-color: @col-tw;
			}
		}
	}
}