.shariff {
    .twitter {
        a {
            background-color: @col-tw;
            &:hover {
                background-color: @col-tw-h;
            }
			div {
				border: 1px solid @col-tw;
				&:hover {
					border-color: @col-tw-h;
				}
			}
        }
        .fa-twitter {
            font-size: 24px;
			&:before { content: @fa-var-twitter; }
        }
        .share_count {
            color: @col-tw-cs;
            background-color: @col-tw-bgs;
        }
    }
    .theme-white {
        .twitter a {
            color: @col-tw;
        }
    }
}