// Whatsapp
@col-wa: #5cbe4a;
@col-wa-h: lighten(@col-wa, @lighten);
@col-wa-cs: darken(@col-wa, @darken);
@col-wa-bgs: lighten(@col-wa, @lighten_bg);

.shariff {
    .whatsapp {
        a {
            background-color: @col-wa;
            &:hover {
                background-color: @col-wa-h;
            }
			div {
				border: 1px solid @col-wa;
				&:hover {
					border-color: @col-wa-h;
				}
			}
        }
        .fa-whatsapp {
            font-size: 22px;
			&:before { content: @fa-var-whatsapp; }
        }
    }
    .theme-white {
        .whatsapp a span {
            color: @col-wa;
        }
    }
	.theme-grey {
		.whatsapp a:hover {
			background-color: @col-wa;
			div {
				border-color: @col-wa;
			}
		}
	}
}