.shariff {
    .xing {
        a {
            background-color: @col-xi;
            &:hover {
                background-color: @col-xi-h;
            }
 			div {
				border: 1px solid @col-xi;
				&:hover {
					border-color: @col-xi-h;
				}
			}
       }
        .fa-xing {
            font-size: 19px;
			&:before { content: @fa-var-xing; }
        }
        .share_count {
            color: @col-xi-cs;
            background-color: @col-xi-bgs;
        }
    }
    .theme-white {
        .xing a {
            color: @col-xi;
        }
    }
}