.shariff {
    &::after,
    &::before {
        content: " ";
        display: table;
    }
    &::after {
        clear: both;
    }
	.loop-col(@services);
	.loop-col(@n, @i: 1) when (@i <= @n) {
		.col-@{i} li {
			width: (100% / @i);
		}
		.loop-col(@n, (@i + 1));
	}
	ul {
		margin: 0 -4px;
		list-style: none;
		display: inline-block;
		padding: 0;
		width: 100%;
		position: relative;
	}
	&:not(.backend) li {
		min-width: @min-width;
		max-width: @max-width;
	}
	&.backend li{
		min-width: @min-width-backend;
		max-width: @max-width-backend;
	}
	li {
		float: left;
		padding-left: 4px;
		padding-right: 4px;
		margin-bottom: 8px;
		width: 100%;
		& > div {
			position: relative;
		}
		a {
			display: block;
			&:hover {
				text-decoration: none !important;
			}
			div {
				height: 28px;
				overflow: hidden;
				span {
					display: inline-block;
					line-height: 28px;
					color: #FFF;
					vertical-align: top;
				}
				.fa {
					width: 30px;
					text-align: center;
				}
				.share_count {
					float: right;
					min-width: 30px;
					text-align: center;
				}
				.share_text {
					min-width: 38px;
					padding-right: 4px;
				}
			}
		}
	}
	.orientation-vertical {
		width: auto;
		display: block;
		li {
			float: none;
			width: 100%;
		}
	}
}
